.text-jan
{
    // color:#E52B50;
    color:rgb(115, 107, 174);    
}
.text-feb
{
    // color:#FFBF00;    
    color: rgb(0, 216, 158);
}
.text-mar
{
    // color:#9966CC;    
    color: rgb(231, 110, 108);
}
.text-apr
{
    // color:#FBCEB1;    
    color: rgb(59, 158, 160);
}
.text-may
{
    // color:#7FFFD4;    
    color: rgb(180, 114, 152);
}
.text-jun
{
    // color:#007FFF;    
    color: rgb(188, 225, 80);
}
.text-jul
{
    // color:#89CFF0;    
    color: rgb(81, 143, 174);
}
.text-aug
{
    // color:#7FFF00;    
    color:rgb(228, 132, 68) ;
}
.text-sep
{
    // color:#000000;  
    color: rgb(40, 195, 167);  
}
.text-oct
{
    // color:#0000FF;    
    color: rgb(147, 110, 163);
}
.text-nov
{
    // color:#0095B6;  
    color: rgb(222, 212, 89); 
}
.text-dec
{
    // color:#8A2BE2;    
    color: rgb(206, 112, 131);
}