<form [formGroup]="rulesForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="deal_type" name="deal_type">
  <input type="hidden" formControlName="commission_unit" name="commission_unit">
  <div class="form-group">
    <label for="inputEmail3">Group :</label>
    <select name="group" formControlName="group" (change)="groupChangeEvent($event.target.value)" class="form-control select2"
      style="width: 100%;">
      <option value="0" selected="selected">Please Select Group</option>
      <option value="A">Group A - Runner</option>
      <option value="B">Group B - Finance Manager</option>
    </select>
  </div>

  <div class="form-group" *ngIf="showMR">
    <label for="exampleInputPassword1">MR Fee :</label> (Please Enter Price Range)
    <div class="row">
      <div class="col-md-6 input-icon">
        <input type="text" name="mr_fee_min" formControlName="mr_fee_min" class="form-control" placeholder="0.00"
          [ngClass]="{ 'is-invalid': submitted && f.mr_fee_min.errors }" required>
        <i>$</i>
        <div *ngIf="submitted && f.mr_fee_min.errors" class="invalid-feedback">
          <div *ngIf="f.mr_fee_min.errors.required">
            Please enter minimum amount
          </div>
        </div>
      </div>
      <div class="col-md-6 input-icon">
        <input type="text" name="mr_fee_max" formControlName="mr_fee_max" class="form-control" placeholder="0.00"
          [ngClass]="{ 'is-invalid': submitted && f.mr_fee_max.errors }" required>
        <i>$</i>
        <div *ngIf="submitted && f.mr_fee_max.errors" class="invalid-feedback">
          <div *ngIf="f.mr_fee_max.errors.required">
            Please enter maximum amount
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="showTier">
    <label for="exampleInputEmail1">Tier :</label>
    <select class="form-control select2" formControlName="tier_id" style="width: 100%;">
      <option selected="selected">Select Tier</option>
      <option *ngFor="let tier of tiers" [value]="tier.id" [selected]="rulesForm.value.tier_id==tier.id">{{tier.title}}
        - {{tier.department}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="showCommissionA">
    <label for="exampleInputPassword1">Commission :</label>
    <div class="input-icon">
      <input type="text" name="commission" formControlName="commission" class="form-control" placeholder="0.00"
        [ngClass]="{ 'is-invalid': submitted && f.commission.errors }" required [attr.disabled]="commissinADisabled?'':null">
      <i>$</i>
      <div *ngIf="submitted && f.commission.errors" class="invalid-feedback">
        <div *ngIf="f.commission.errors.required">
          Commission is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="showCommissionB">
    <label for="exampleInputPassword1">Commission :</label>
    <span> (Percent of Profite)</span>
    <div class="input-icon input-icon-right">
      <input type="text" name="commission" formControlName="commission" class="form-control" placeholder="00" [ngClass]="{ 'is-invalid': submitted && f.commission.errors }"
        required [attr.disabled]="commissinBDisabled?'':null">
      <i>%</i>
      <div *ngIf="submitted && f.commission.errors" class="invalid-feedback">
        <div *ngIf="f.commission.errors.required">
          Commission is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="showExtendedCommission">
    <label for="exampleInputPassword1">Extended Commission :</label>
    <span> (Fixed Amount)</span>
    <div class="input-icon">
      <input type="text" name="extented_commission" formControlName="extented_commission" class="form-control"
        placeholder="0.00" [ngClass]="{ 'is-invalid': submitted && f.extented_commission.errors }" required>
      <i>$</i>
      <div *ngIf="submitted && f.extented_commission.errors" class="invalid-feedback">
        <div *ngIf="f.extented_commission.errors.required">
          Extended Commission is required
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer" *ngIf="showButton">
    <button type="button" routerLink="/manage-rules/list" class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-info pull-right">Submit</button>
  </div>
</form>