<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Welcome to {{title}} Dashboard
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{mySalesCount}}<sup style="font-size: 20px">#</sup></h3>
            <p>My Sales</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{teamSalesCount}}<sup style="font-size: 20px">#</sup></h3>
            <p>Team Sales</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{totalSalesCount}}<sup style="font-size: 20px">#</sup></h3>
            <p>Total Sales</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{currentMonthTier}}</h3>
            <p>Tier For Current Month</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="javascript:void(0)" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- <div class="col-lg-6 col-6">
        Month Sales Vs Total Sales
      </div> -->
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card card-info card-outline">
          <div class="card-header border-transparent">
            <h3 class="card-title">Latest Sales Records</h3>

            <!-- <div class="card-tools">
              <button type="button" class="btn btn-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div> -->
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Deal ID</th>
                    <th>Contract Date</th>
                    <th>Stock #</th>
                    <th>Customer Name</th>
                    <th>Sale Type</th>
                    <th>Lender</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let deal of deals | slice:0:5; let i = index">
                    <td><a href="javascript:void(0)" [routerLink]="['/deals/getDeal']" [queryParams]="{dealID:deal.id}">{{
                        deal.deal_id}}</a></td>
                    <td>{{deal.deal_date}}</td>
                    <td><span class="badge badge-success">{{deal.Stock_Number}}</span></td>
                    <td>{{deal.customer_name}}</td>
                    <td>
                      {{ deal.deal_type}}
                    </td>
                    <td>{{deal.lander_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a> -->
            <a href="javascript:void(0)" routerLink="/deals" class="btn btn-sm btn-secondary float-right">View All
              Sales</a>
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- <div class="card card-info card-outline">
          <div class="card-header">
            <h3 class="card-title">Last 5 Sales Records</h3>
          </div>
          <div class="card-body">
            <table id="salesRecordTable" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Deal</th>
                  <th>Customer Name</th>
                  <th>Sale Type</th>
                  <th>Lender</th>
                  <th>Commission</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let deal of deals | slice:0:5; let i = index">
                  <td>{{ i + 1}}</td>
                  <td>{{ deal.deal_id}}</td>
                  <td>{{ deal.customer_name}}</td>
                  <td>{{ deal.deal_type}}</td>
                  <td>{{ deal.lander_name}}</td>
                  <td>{{ deal.deal_amount}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>Deal</th>
                  <th>Customer Name</th>
                  <th>Sale Type</th>
                  <th>Lender</th>
                  <th>Commission</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div> -->
      </div>
      <div class="col-md-4">
        <div class="card card-info card-outline">
          <div class="card-header">
            <h3 class="card-title">Sales Chart</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <div class="chart-responsive">
                  <canvas id="pieChart" height="150"></canvas>
                </div>
                <!-- ./chart-responsive -->
              </div>
              <!-- /.col -->
              <div class="col-md-4">
                <ul class="chart-legend clearfix">
                  <li><i class="fa fa-circle-o text-danger"></i> Sales</li>
                  <li><i class="fa fa-circle-o text-success"></i> Team Sales</li>
                  <li><i class="fa fa-circle-o text-info"></i> Total Sales</li>

                </ul>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer bg-white p-0">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  Total Month Sales
                  <span class="float-right text-info">
                    <!-- <i class="fa fa-arrow-down text-sm"></i> -->{{totalSalesCount}}
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  Total Team Month Sales
                  <span class="float-right text-success">
                    <!-- <i class="fa fa-arrow-up text-sm"></i> 4% -->{{teamSalesCount}}
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link">
                  My Month Total Sales
                  <span class="float-right text-danger">
                    <!-- <i class="fa fa-arrow-left text-sm"></i>--> {{mySalesCount}}
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>